
 <%= @wrapper %>

<form action="/nuevo/objeto" method="post">
    <img src="<%= image_path 'cambly.png' %>">
    <input type="text" name="verbo"></input>
    <input type="submit" value="Estoy haciendo una pretición POST"></input>
</form>